<div class="container py-5">

  <div class="row">

    <div class="col-md-6">
      <h3>Lista de Tareas</h3>

        <div class="my-5"></div>

        <div *ngFor="let task of tasks" class="card mb-3">
          <div class="card-body">

            <div class="d-flex justify-content-between">
              <div class="fw-bold">{{ task.title }}</div>

              <div class="text-muted">
                <i class="fa fa-edit cursor-pointer" title="Editar"></i>
                <i class=" fa fa-trash ms-2 cursor-pointer" title="Eliminar"></i>
              </div>
            </div>


            <div>
              <small class="text-success" *ngIf="task.done; else noCompletado">
                <i class="fa fa-check-circle"></i> Realizado
              </small>

              <ng-template #noCompletado>
                <small class="text-muted">
                  <i class="fa fa-clock"></i>Pendiente
                </small>
              </ng-template>

            </div>
          </div>
        </div>
    </div>

    <div class="col-md-6">
      <h3>{{ task.id ? 'Editar' : 'Nueva' }} Tarea</h3>

      <form class="mt-5" (ngSubmit)="save()">

        <div class="mb-3 form-floating">
          <input id="id" type="number" placeholder="ID" name="id" class="form-control" [(ngModel)]="task.id">
          <label for="id">ID</label>
        </div>

        <div class="mb-3 form-floating">
          <input id="title" type="text" placeholder="Título" name="title" class="form-control" [(ngModel)]="task.title">
          <label for="title">Título</label>
        </div>

        <div class="mb-3 form-floating">
          <input id="description" type="textarea" placeholder="descripción" name="description" class="form-control" [(ngModel)]="task.description">
          <label for="description">Descripción</label>
        </div>

        <div class="mb-3 form-floating">
          <input id="createdBy" type="text" placeholder="Creado por" name="createdBy" class="form-control" [(ngModel)]="task.createdBy">
          <label for="createdBy">Creado por</label>
        </div>

        <div class="mb-3 form-check">
          <input id="done" type="checkbox" class="form-check-input" name="done" [(ngModel)]="task.done">
          <label for="done" class="form-check-label">Realizado</label>
        </div>

        <div class="text-end">
          <button class="btn btn-primary btn-lg">Guardar</button>
        </div>


      </form>

    </div>

  </div>



</div>
